.presentation .content {
   display: flex;
   align-items: center;
   margin: 24px 0;
}

.presentation .profile-picture {
   max-height: 300px;
   max-width: 300px;
   margin-right: 50px;

   border: 5px solid var(--green);
}

.presentation .contact-container {
   display: flex;
   justify-content: flex-end;
   margin-top: 24px;
}

.presentation .contact-container a {
   text-decoration: none;
}

.presentation .button-text {
   color: var(--yellow);
   border: 1px solid var(--yellow);
   letter-spacing: 3px;
}

.presentation .contact-info {
   border: 1px solid var(--yellow);
   padding: 10px;
   margin-left: 10px;

   transition-duration: 0.4s;
}

.presentation .contact-info:hover {
   background-color: var(--yellow);
   color: var(--black)
}

/* 920px to 1380px (laptop) */
@media screen and (max-width: 1380px) {
   .presentation .profile-picture {
      max-height: 280px;
      max-width: 280px;
      margin-right: 35px;
   
      border: 5px solid var(--green);
   }
}

/* 580px to 920px (tablet) */
@media screen and (max-width: 920px) {
   .presentation .content {
      flex-direction: column;
   }

   .presentation .profile-picture {
      max-height: 250px;
      max-width: 250px;
      margin-right: unset;
   }

   .presentation .contact-container {
      justify-content: space-evenly;

   }

   .presentation .contact-info {
      margin-left: 0px;
   }
}

/* up to 580px (mobile) */
@media screen and (max-width: 580px) {
   .presentation .profile-picture {
      max-height: 200px;
      max-width: 200px;
   }
}